body, html {
  height: 100%;
  margin: 0;
}

.full-car {
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}

/*Styles for Car*/
.car {
    position:absolute;
    top:-35%;
    z-index:10;
    animation: myfirst 10s linear infinite;
    animation: myfirst 10s linear infinite;
}

@keyframes myfirst 
{
    0%   {left:-25%;}
    100% {left:100%;}
} 

@keyframes myfirst
{
	0%   {left:-25%;}
	100% {left:100%;}
} 

.tyre {
	width:30px;
	height:30px;
	border-radius:50%;
	background:black;
	position:absolute;
	z-index:2;
	left:9px;
	top:20px;
    animation:tyre-rotate 1s infinite linear;
    animation:tyre-rotate 1s infinite linear;
}

@keyframes tyre-rotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@keyframes tyre-rotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.tyre:before {
	content:'';
	width:20px;
	height:20px;
	border-radius:50%;
	background:#bdc2bd;
	position:absolute;
	top:5px;
	left:5px;
}

.gap {
	background: black;
	width:2px;
	height:4px;
	position:absolute;
	left:14px;
	top:8px;
	box-shadow:0 9px 0 #3f3f40;
}

.gap:before {
	content:'';
	display:block;
	width:2px;
	height:4px;
	position:absolute;
	background:#000007;
	box-shadow:0 12px 0 #02020b;
	transform: rotate(-90deg);
	transform-origin: 0 7px;
	transform: rotate(-90deg);
	transform-origin: 0 7px;
	z-index: 3;
}

.car-base {
	position:absolute;
	display:block;
   	width: 125px;
   	height: 30px;
	background:#000000;
   	border-radius:  10% 10% 50% 50% / 60% 100% 20% 10%;
   	transform:rotate(-2deg);
	transform:rotate(-2deg);
   	border:solid;
   	border-color:#000000;
}

.back-bonet {
	background: darkgray;
    border-radius: 54% 25% 0 0;
    height: 22px;
    left: 11px;
    position: absolute;
    top: 8px;
    width: 40px;
}

.tyre.front {
	left:94px;
}

.car-body {
	border-bottom: 24px solid #0d0101;
    height: 0;
	top:10px;
    width: 120px;
	position:relative;
}

.car-body:before {
	content:'';
	display:inline-block;
	width:30px;
	height:24px;
	position:absolute;
	right:-5px;
	background:#080808;
	border-top-right-radius:4px;
	z-index:1;
}

.car-body:after {
	content:'';
	display:inline-block;
	width:121px;
	border-bottom: 1px solid #0c0c0c;
    border-right: 2px solid transparent;
    height: 0;
	z-index:2;
	position:absolute;
}

.car-gate {
	width:32px;
	height:20px;
	background:#0a0a09;
	border-radius:0 0 2px 8px / 0 0 2px 8px;
	box-shadow:0 0 0 1px #080808;
	position:absolute;
	left:48px;
}

.car-gate:before {
	content:'';
	width:8px;
	height:2px;
	background:#0c0c0c;
	position:absolute;
	top:2px;
	left:4px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

.car-top-back {
	background: none repeat scroll 0 0 #0a0a0a;
    border-radius: 5px 0 0 0;
    height: 20px;
    left: 4px;
    position: absolute;
    top: -20px;
    width: 58px;
}

.car-top-back:after {
	content:'';
	background:#4c4b4b;
	border-radius:  30%;
    height: 5px;
    left: 3px;
    position: absolute;
    top: -1px;
    width: 62px;
}

.car-top-front {
	top:-19px;
	position:absolute;
	left:47px;
	width:20px;
	height:20px;
	background:#0a0a0a;
	border-left: 1px solid #0c0c0c;
    border-radius: 2px 0 0 0;

}

.car-top-front:after {
	width:26px;
	height:20px;
	transform: skew(37deg);
	transform: skew(37deg);
	background:#040404;
	content:'';
	position:absolute;
	top:0;
	left:6px;
	border-radius:4px 0 4px 4px;
}

.car-top-front:before {
	width:12px;
	height:5px;
	background:#0e0e0e;
	content:'';
	position:absolute;
	top:14px;
	left:28px;
	z-index:1;
	border:solid #060505;
	border-width:0 1px 1px 0;
}

.wind-sheild {
	top:3px;
	left:3px;
	position:absolute;
	z-index:3;
	width:18px;
	height:12px;
	background:darkgray;
	border-radius:0 3px 0 0;
}

.wind-sheild:after {
	width:12px;
	height:12px;
	transform: skew(25deg);
	transform: skew(25deg);
	background:darkgray;
	content:'';
	position:absolute;
	top:0;
	left:10px;
	border-radius:3px;
}

.boundary-tyre-cover {
	position:absolute;
	top:14px; left:10px;
	border-bottom: 20px solid #4c4b4b;
   	border-right: 10px solid transparent;
	height:0;
	width:20px;
}

.boundary-tyre-cover:before {
	content:'';
	position:absolute;
	display:inline-block;
	background:#4c4b4b;
	height:20px;
	width:15px;
	transform:skewX(-20deg);
	transform:skewX(-20deg);
	border-radius:3px;
	left:-6px;
	top:0;
}

.boundary-tyre-cover:after {
	content:'';
	position:absolute;
	display:inline-block;
	background:#4c4b4b;
	height:20px;
	width:20px;
	transform: skewX(40deg);
	transform: skewX(40deg);
	border-radius:3px;
	right:-14px;
	top:0;
}

.boundary-tyre-cover-inner {
	position:absolute;
	top:4px; 
    left:4px;
	border-bottom: 16px solid black;
   	border-right: 10px solid transparent;
	height:0;
	width:15px;
	z-index:2;
}
.boundary-tyre-cover-inner:before {
	content:'';
	position:absolute;
	display:inline-block;
	background:black;
	height:16px;
	width:15px;
	transform:skewX(-20deg);
	transform:skewX(-20deg);
	border-radius:3px 3px 0 0;
	left:-6px;
	top:0;
}

.boundary-tyre-cover-inner:after {
	content:'';
	position:absolute;
	display:inline-block;
	background:black;
	height:16px;
	width:20px;
	transform:skewX(40deg);
	transform:skewX(40deg);
	border-radius:3px 3px 0 0;
	right:-11px;
	top:0;
}

.boundary-tyre-cover-back-bottom {
	position: absolute;
	width: 14px;
	height: 8px;
	background: #0e0e0e;
	top: 12px;
	left: -19px;
}

.bonet-front {
	background: #4C4B4B;
    border-radius: 5px 258px 0 38px / 36px 50px 0 0;
    height: 4px;
    position: absolute;
    right: 0;
    top: -4px;
    width: 40px;
    z-index: 0;
}

.back-curve {
	background: none repeat scroll 0 0 #4C4B4B;
    border-radius: 960% 100% 0 0;
    height: 20px;
    left: -3px;
    position: absolute;
    top: 1px;
    transform: rotate(6deg);
    width: 5px;
}

.stepney {
	height: 6px;
    left: -4px;
    position: absolute;
    top: 6px;
    width: 8px;
    z-index: -1;
	background:#3f3f40;
}

.stepney:before {
	width:8px;
	height:12px;
	background:#3f3f40;
	content:'';
	position:absolute;
	top:-10px;
	left:-7px;
	border-radius:3px 3px 0 0;
}

.stepney:after {
	width:8px;
	height:12px;
	background:#0d0c0d;
	content:'';
	position:absolute;
	top:0px;
	left:-7px;
	border-radius:0 0 3px 3px;
}

.tyre-cover-front {
	background:#4c4b4b;
	height: 4px;
    left: 97px;
    position: absolute;
    top: 13px;
    width: 22px;
    z-index: 1;
}

.tyre-cover-front:before {
	background: none repeat scroll 0 0 #4c4b4b;
    content: "";
    display: inline-block;
    height: 21px;
    left: -10px;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    width: 10px;
    z-index: 6;
	border-radius:4px 0 0 0;
}

.tyre-cover-front:after {
	background: none repeat scroll 0 0 #4c4b4b;
    content: "";
    display: inline-block;
    height: 6px;
    left: 14px;
    position: absolute;
    top: 0;
    transform: skewX(30deg);
    width: 17px;
    z-index: 6;
	border-radius:0 4px 2px 0;
}

.boundary-tyre-cover-inner-front {
	position:absolute;
	top:4px; left:4px;
	border-bottom: 16px solid black;
   	border-right: 10px solid transparent;
	height:0;
	width:15px;
	z-index:7;
}

.boundary-tyre-cover-inner-front:before {
	background: none repeat scroll 0 0 #000000;
    border-radius: 3px 3px 0 0;
    content: "";
    display: inline-block;
    height: 17px;
    left: -10px;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    width: 15px;
}

.boundary-tyre-cover-inner-front:after {
	content:'';
	position:absolute;
	display:inline-block;
	background:black;
	height:16px;
	width:20px;
	transform:skewX(25deg);
	transform:skewX(25deg);
	border-radius:3px 3px 0 0;
	right:-12px;
	top:0;
}

.base-axcel {
	background: none repeat scroll 0 0 black;
    bottom: -15px;
    height: 10px;
    left: 30px;
    position: absolute;
    transform: rotate(-2deg);
    width: 70px;
	z-index:-1;
}
.base-axcel:before {
	background: none repeat scroll 0 0 black;
    border-radius: 0 0 0 10px / 0 0 0 5px;
    content: "";
    height: 10px;
    left: -35px;
    position: absolute;
    top: -2px;
    transform: rotate(6deg);
    width: 30px;	
}

.base-axcel:after {
	background: none repeat scroll 0 0 black;
    border-radius: 0 0 0 10px / 0 0 0 5px;
    content: "";
    height: 10px;
    right: -33px;
    position: absolute;
    top: -1px;
    transform: rotate(-4deg);
    width: 40px;
	border-radius:0 10px 5px 0;	
}

.front-bumper {
	background: none repeat scroll 0 0 #4c4b4b;
    border-radius: 0 2px 2px 0;
    height: 8px;
    position: absolute;
    right: -15px;
    width: 11px;
    z-index: 1;
	transform:rotate(-5deg);
	transform:rotate(-5deg);
}

.front-bumper:before {
	background: none repeat scroll 0 0 #000000;
    content: "";
    height: 10px;
    left: -7px;
    position: absolute;
    transform: rotate(-22deg);
    width: 9px;
    z-index: 1;
}

.car-shadow {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -15px;
    box-shadow: -5px 10px 15px 3px #000000;
    left: -7px;
    position: absolute;
    width: 136px;
}

.street-container {
	background: darkgrey;
	height:80px;
	width:102%;
	position:absolute;
	bottom: 10%;
	box-shadow:0 1px 16px rgba(111, 35, 51, 0.4) inset;
}


/* CLOCK ANIMATION */

* {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 81, 88);
}

.clock {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
    left: 50%;
    top: 35%;
    background: #584b22;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px black;
    
}

.clock::before {
    position: absolute;
    content: '';
    height: 130px;
    width: 10px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 6s linear infinite;
    transform-origin: top;
}

.clock::after {
    position: absolute;
    content: '';
    height: 100px;
    width: 10px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 72s linear infinite;
    transform-origin: top;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

body::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #070707;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

body::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    left: 50%;
    top: 9.5%;
    z-index: 2;
    transform: translateX(-50%);
    box-shadow: 140px 145px 0 0 black, -140px 145px 0 0 black, 0 280px 0 0 black;
}